body{
	font-family: verdana;
}



/* Login Page */ 

.login_body{
	 background: -webkit-linear-gradient(left, #dc2424, #4a569d);
	 background: -o-linear-gradient(left, #dc2424, #4a569d);
	 background: linear-gradient(to right, #dc2424, #4a569d);
}

.logcard{
	margin: 10em 0 0 36%;
	width: 30%;
	height: 350px;
	border:2px solid red;
	border-radius: 5px;
	text-align: center;
}

.query{
	width: 70%;
	margin: 1em 0 0 0;
	border-radius: 5px;
	font-size: 20px;
	padding: 5px;
}


/* Register */

.reg_body{
	 background: -webkit-linear-gradient(right, #dc2424, #4a569d);
	 background: -o-linear-gradient(right, #dc2424, #4a569d);
	 background: linear-gradient(to left, #dc2424, #4a569d);
}

.regcard{
	margin: 10em 0 0 36%;
	width: 30%;
	height: 430px;
	border-radius: 10px;
	text-align: center;
	border: 2px solid blue;
}

/* Contact */

.con_body{
	background: -webkit-linear-gradient(right, #4776e6, #8e54e9);
	background: -o-linear-gradient(right, #4776e6, #8e54e9);
	background: linear-gradient(to left, #4776e6, #8e54e9);
}

.concard{
	margin: 6em 0 0 36%;
	width: 30%;
	height: 500px;
	border-radius: 10px;
	text-align: center;
	border: 2px solid violet;
}

/* About */

.abt_body{
	background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
	color: #fff;
}

.abt_body p {
	font-size: 20px;
	text-align: justify;
}

.content{
	margin: 0 4em;
}
/* Global */
.btn{
	width: 74%;
	height: 45px;
	font-size: 20px;
	margin: 1em 0 0 0;
	border-radius: 5px;
	background: linear-gradient(to right, #9796f0, #fbc7d4);
	border: 0px;
	box-shadow: 2px 2px;
	font-weight: bold;
	cursor: pointer;
	transition: letter-spacing 1s;
}

.btn:hover{
	background: linear-gradient(to left, #9796f0, #fbc7d4);
	transition:background 2s;
	box-shadow: 0px 0px;
	border: 1px solid black;
	letter-spacing: 2px;
	transition: letter-spacing 1s;
}

.logcard,.regcard, .concard h1{
	color: #fff;
}

.username , .pass, .passreg, .repassreg, .name, .email{
	width: 70%;
	height: 2em;
	margin: 1em 0 0 0;
	border-radius: 5px;
	font-size: 20px;
	padding: 5px;
}

